:root {
  --primary: #1abc9c;
  --secondary: #34495e;
  --accent: #f39c12;
  --text: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--text);
  color: var(--secondary);
  line-height: 1.6;
  font-size: 16px;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.left_section {
  height: 100%;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: var(--primary);
  padding-left: 1rem;
  padding-right: 0.5rem;
  color: var(--text);
}

.left_section h1 a {
  color: var(--secondary);
  font-size: 3.5rem;
  text-decoration: none;
}

.left_section h2 {
  color: var(--text);
  font-size: 3rem;
}

.left_section p span {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 900;
}

.home_social_section a {
  text-decoration: none;
}

.home_social_section i {
  margin-right: 1rem;
  color: var(--secondary);
}

.home_social_section i:hover {
  margin-right: 1rem;
  color: var(--text);
}

.right_section {
  height: 100%;
  width: 50vw;
  overflow-y: scroll;
}

.right_section .home-right {
  height: 100%;
  background-image: url("../img/my-photo-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: center;
}

.right_section .about-right {
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  color: var(--text);
  padding: 3rem 5rem 3rem 5rem;
}

.right_section .about-right strong {
  color: var(--primary);
}

.right_section .about-right .title {
  align-self: center;
  margin-bottom: 1rem;
}

.right_section .about-right a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
}

.right_section .skills-right {
  height: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--text);
  color: var(--secondary);
  padding: 3rem 5rem 3rem 5rem;
}
.offer-right {
 padding: 1rem;
}
.offer-button {
  border: none;
  background-color: var(--secondary);
  color: var(--text);
  height: 3rem;
  width: 20rem;
  border-radius: 1rem;
  font-weight: 800;
  padding: 5px;
}
.skills-right .skills-custom {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_section .project-right {
  background-color: var(--secondary);
  color: var(--text);
  padding: 3rem 5rem 3rem 5rem;
}

.right_section .project-right .project-card {
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #7c93aa;
  opacity: 0.8;
}
.right_section .project-right .project-card:hover {
  opacity: 1;
}

.right_section .contact-right {
  height: 100vh;
  background-color: var(--text);
  color: var(--secondary);
  padding: 3rem 5rem 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right_section .contact-right button {
  border: none;
  background-color: var(--primary);
  color: var(--text);
  height: 3rem;
  width: 10rem;
  border-radius: 2rem;
  font-weight: 800;
}

.right_section .contact-right button:hover {
  border: none;
  background-color: var(--secondary);
  color: var(--text);
  height: 3rem;
  width: 10rem;
  border-radius: 2rem;
  font-weight: 800;
}
.fa-custom {
  font-size: 4rem;
}

.fa-custom:hover {
  color: var(--primary);
}

.text-bg-custom {
  background-color: var(--primary);
  color: var(--text);
}
.experience-date {
  font-size: 0.8rem;
  color: var(--primary);
}

footer {
  height: 30vh;
  background-color: var(--secondary);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_social_section_footer {
  margin-top: 2rem;
}

.home_social_section_footer a {
  text-decoration: none;
}

.home_social_section_footer i {
  margin-right: 1rem;
  color: var(--primary);
}

.home_social_section_footer i:hover {
  margin-right: 1rem;
  color: var(--text);
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .left_section {
    width: 100vw;
    padding: 1rem 2rem;
  }

  .left_section h1 a {
    font-size: 2rem;
  }

  .left_section h2 {
    font-size: 1.5rem;
  }

  .left_section p {
    font-size: 1rem;
  }
  .left_section p span {
    font-size: 1rem;
  }

  .right_section {
    width: 100vw;
    overflow: unset;
  }

  .right_section .home-right {
    background-size: contain;
  }

  .right_section .about-right {
    height: unset;
    padding: 1rem;
  }

  .right_section .skills-right {
    padding: 1rem;
  }

  .right_section .project-right {
    padding: 1rem;
  }

  .right_section .contact-right {
    height: unset;
    padding: 1rem;
  }
  footer {
   height: unset;
   padding: 1rem;
  }
}
